* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  width: 100%;
  margin-top: 12px;
}
#header .head {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
#header .head .img {
  text-transform: uppercase;
  font-size: 14px;
}
#header .head .nav nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: row;
  list-style: none;
  font-size: 15px;
}
#header .head .nav nav ul li a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}
#header .head .nav nav ul li a:hover {
  color: darkgreen;
}
#header .head .nav nav ul li select {
  cursor: pointer;
}
#header .head .nav nav ul li select option {
  cursor: pointer;
  color: black;
}
#header .head .nav nav ul li select option:hover {
  color: darkgreen;
}
#header .head .menu {
  font-size: 14px;
  display: none;
}

#yourdog {
  width: 100%;
  padding: 28px 28px;
  background-color: #F8F9FA;
}
#yourdog .dog {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 28px;
}
#yourdog .dog .img img {
  width: 290px;
}
#yourdog .dog .txt h1 {
  font-size: 38px;
}
#yourdog .dog .txt p {
  font-size: 16px;
  color: gray;
}

#petdoger {
  width: 100%;
  margin-top: 22px;
  margin-bottom: 22px;
}
#petdoger .doger {
  width: 80%;
  margin: 0 auto;
}
#petdoger .doger .text {
  display: flex;
  flex-direction: column;
  gap: 11px;
  text-align: center;
}
#petdoger .doger .text p {
  color: grey;
}
#petdoger .doger .cards {
  margin-top: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 22px;
}
#petdoger .doger .cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 22px;
}
#petdoger .doger .cards .card .img img {
  width: 290px;
}
#petdoger .doger .cards .card .txt {
  width: 420px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  gap: 11px;
}
#petdoger .doger .cards .card .txt p {
  color: grey;
}
#petdoger .doger .cards .card .txt button {
  color: white;
  border: 1px solid darkolivegreen;
  border-radius: 8px;
  padding: 4px 4px;
  background-color: darkolivegreen;
  cursor: pointer;
}
#petdoger .doger .cards .card .txt button:hover {
  color: black;
  background: transparent;
}

#AboutUs {
  width: 100%;
  margin-top: 22px;
  margin-bottom: 22px;
}
#AboutUs .About {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 22px;
}
#AboutUs .About .img {
  max-width: 100%;
}
#AboutUs .About .img img {
  width: 100%;
}
#AboutUs .About .txt {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#AboutUs .About .txt span {
  color: darkgreen;
}
#AboutUs .About .txt i {
  color: darkgreen;
  cursor: pointer;
}
#AboutUs .About .txt .spn {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#ourtran {
  width: 100%;
  margin-top: 22px;
  background-color: #A2C0BE;
  padding: 28px 28px;
}
#ourtran .tran {
  width: 80%;
  margin: 0 auto;
}
#ourtran .tran .text {
  display: flex;
  flex-direction: column;
  gap: 11px;
  text-align: center;
}
#ourtran .tran .cards {
  margin-top: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
  flex-direction: row;
  flex-wrap: wrap;
}
#ourtran .tran .cards .card {
  width: 30%;
  flex-direction: column;
  gap: 11px;
}
#ourtran .tran .cards .card .img {
  max-width: 100%;
}
#ourtran .tran .cards .card .img img {
  width: 100%;
}
#ourtran .tran .cards .card .icon i {
  cursor: pointer;
}

#tables {
  width: 100%;
  margin-top: 22px;
  margin-top: 22px;
}
#tables .table {
  width: 80%;
  margin: 0 auto;
}
#tables .table .text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
}
#tables .table .cards {
  margin-top: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#tables .table .cards .card {
  width: 30%;
  border: 1px solid white;
  padding: 28px 28px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: white;
  background-color: #343A40;
}
#tables .table .cards .card .txt {
  text-align: center;
}
#tables .table .cards .card button {
  width: 120px;
  border: 1px solid grey;
  border-radius: 12px;
  color: white;
  padding: 3px 3px;
  text-align: center;
  margin: 0 auto;
  background-color: gray;
  cursor: pointer;
}

#footer {
  width: 100%;
  padding: 28px 0px;
  background-color: #333333;
}
#footer .foot {
  width: 80%;
  margin: 0 auto;
}
#footer .foot .cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 22px;
  flex-direction: row;
  flex-wrap: wrap;
}
#footer .foot .cards .card {
  width: 22%;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
#footer .foot .cards .card h1 {
  font-size: 14px;
  color: white;
}
#footer .foot .cards .card p {
  color: gray;
}
#footer .foot .cards .card .nav nav ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
  list-style: none;
}
#footer .foot .cards .card .nav nav ul li a {
  text-decoration: none;
  color: grey;
}
#footer .foot .cards .card .icon {
  display: flex;
  flex-direction: row;
  color: gray;
  gap: 2px;
}
#footer .foot .cards .card .input {
  display: flex;
  flex-direction: row;
}
#footer .foot .cards .card .input input {
  width: 220px;
  padding: 4px 4px;
  border: 1px solid darkgray;
}
#footer .foot .cards .card .input button {
  width: 60px;
  padding: 4px 4px;
  border: 1px solid darkgray;
  cursor: pointer;
}

.color {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 5px;
  flex-direction: row;
  text-align: center;
  background-color: #333333;
}
.color p {
  font-size: 11px;
}

@media screen and (min-width: 300px) and (max-width: 576px) {
  #header .head .nav {
    display: none;
  }
  #header .head .menu {
    display: flex;
  }
  #yourdog .dog {
    flex-direction: column;
  }
  #yourdog .dog .img img {
    width: 200px;
  }
  #petdoger .doger .cards .card {
    flex-direction: column;
  }
  #petdoger .doger .cards .card .txt {
    width: 210px;
  }
  #petdoger .doger .cards .card .img img {
    width: 200px;
  }
  #AboutUs .About {
    flex-direction: column;
  }
  #ourtran .tran .cards .card {
    width: 88%;
  }
  #tables .table .cards .card {
    width: 77%;
  }
  #footer .foot .cards .card {
    width: 77%;
  }
}
@media screen and (min-width: 576px) and (max-width: 778px) {
  #header .head .nav {
    display: none;
  }
  #header .head .menu {
    display: flex;
  }
  #yourdog .dog {
    flex-direction: column;
  }
  #petdoger .doger .cards .card {
    flex-direction: column;
  }
  #petdoger .doger .cards .card .txt {
    width: 290px;
  }
  #petdoger .doger .cards .card .img img {
    width: 230px;
  }
  #ourtran .tran .cards .card {
    width: 44%;
  }
  #tables .table .cards .card {
    width: 44%;
  }
  #footer .foot .cards .card {
    width: 44%;
  }
}