* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    width: 100%;
    margin-top: 12px;

    .head {
        width: 70%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        .img {
            text-transform: uppercase;
            font-size: 14px;
        }

        .nav {
            nav {
                ul {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
                    flex-direction: row;
                    list-style: none;
                    font-size: 15px;

                    li {
                        a {
                            text-decoration: none;
                            cursor: pointer;
                            color: black;

                            &:hover {
                                color: darkgreen;
                            }
                        }

                        select {
                            cursor: pointer;

                            option {
                                cursor: pointer;
                                color: black;

                                &:hover {
                                    color: darkgreen;
                                }
                            }
                        }
                    }
                }
            }
        }

        .menu {
            font-size: 14px;
            display: none;
        }
    }

}

#yourdog {
    width: 100%;
    padding: 28px 28px;
    background-color: #F8F9FA;

    .dog {
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        gap: 28px;

        .img {
            img {
                width: 290px;
            }
        }

        .txt {
            h1 {
                font-size: 38px;
            }

            p {
                font-size: 16px;
                color: gray;
            }
        }
    }
}

#petdoger {
    width: 100%;
    margin-top: 22px;
    margin-bottom: 22px;

    .doger {
        width: 80%;
        margin: 0 auto;

        .text {
            display: flex;
            flex-direction: column;
            gap: 11px;
            text-align: center;

            p {
                color: grey;
            }
        }

        .cards {
            margin-top: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 22px;

            .card {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                gap: 22px;

                .img {
                    img {
                        width: 290px;
                    }
                }

                .txt {
                    width: 420px;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    flex-direction: column;
                    gap: 11px;

                    p {
                        color: grey;
                    }

                    button {
                        color: white;
                        border: 1px solid darkolivegreen;
                        border-radius: 8px;
                        padding: 4px 4px;
                        background-color: darkolivegreen;
                        cursor: pointer;

                        &:hover {
                            color: black;
                            background: transparent;
                        }
                    }
                }
            }
        }
    }
}

#AboutUs {
    width: 100%;
    margin-top: 22px;
    margin-bottom: 22px;

    .About {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 22px;

        .img {
            max-width: 100%;

            img {
                width: 100%;
            }
        }

        .txt {
            display: flex;
            flex-direction: column;
            gap: 12px;

            span {
                color: darkgreen;
            }

            i {
                color: darkgreen;
                cursor: pointer;
            }

            .spn {
                display: flex;
                flex-direction: column;
                gap: 12px;
            }
        }
    }
}

#ourtran {
    width: 100%;
    margin-top: 22px;
    background-color: #A2C0BE;
    padding: 28px 28px;

    .tran {
        width: 80%;
        margin: 0 auto;

        .text {
            display: flex;
            flex-direction: column;
            gap: 11px;
            text-align: center;
        }

        .cards {
            margin-top: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 22px;
            flex-direction: row;
            flex-wrap: wrap;

            .card {
                width: 30%;
                flex-direction: column;
                gap: 11px;

                .img {
                    max-width: 100%;

                    img {
                        width: 100%;
                    }
                }

                .icon {
                    i {
                        cursor: pointer;
                    }
                }
            }

        }
    }
}

#tables {
    width: 100%;
    margin-top: 22px;
    margin-top: 22px;

    .table {
        width: 80%;
        margin: 0 auto;

        .text {
            display: flex;
            flex-direction: column;
            gap: 12px;
            text-align: center;

        }

        .cards {
            margin-top: 22px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;

            .card {
                width: 30%;
                border: 1px solid white;
                padding: 28px 28px;
                display: flex;
                flex-direction: column;
                gap: 12px;
                color: white;
                background-color: #343A40;

                .txt {
                    text-align: center;
                }

                button {
                    width: 120px;
                    border: 1px solid grey;
                    border-radius: 12px;
                    color: white;
                    padding: 3px 3px;
                    text-align: center;
                    margin: 0 auto;
                    background-color: gray;
                    cursor: pointer;
                }
            }
        }
    }
}

#footer {
    width: 100%;
    padding: 28px 0px;
    background-color: #333333;

    .foot {
        width: 80%;
        margin: 0 auto;

        .cards {
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 22px;
            flex-direction: row;
            flex-wrap: wrap;

            .card {
                width: 22%;
                display: flex;
                flex-direction: column;
                gap: 11px;

                h1 {
                    font-size: 14px;
                    color: white;
                }

                p {
                    color: gray;
                }

                .nav {
                    nav {
                        ul {
                            display: flex;
                            flex-direction: column;
                            gap: 4px;
                            list-style: none;

                            li {
                                a {
                                    text-decoration: none;
                                    color: grey;
                                }
                            }
                        }
                    }
                }

                .icon {
                    display: flex;
                    flex-direction: row;
                    color: gray;
                    gap: 2px;
                }

                .input {
                    display: flex;
                    flex-direction: row;

                    input {
                        width: 220px;
                        padding: 4px 4px;
                        border: 1px solid darkgray;

                    }

                    button {
                        width: 60px;
                        padding: 4px 4px;
                        border: 1px solid darkgray;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.color {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
    flex-direction: row;
    text-align: center;
    background-color: #333333;

    p {
        font-size: 11px;
    }
}

@media screen and (min-width:300px) and (max-width:576px) {
    #header {
        .head {
            .nav {
                display: none;
            }

            .menu {
                display: flex;
            }
        }
    }

    #yourdog {
        .dog {
            flex-direction: column;

            .img {
                img {
                    width: 200px;
                }
            }
        }
    }

    #petdoger {
        .doger {
            .cards {
                .card {
                    flex-direction: column;

                    .txt {
                        width: 210px;
                    }

                    .img {
                        img {
                            width: 200px;
                        }
                    }
                }
            }
        }
    }

    #AboutUs {
        .About {
            flex-direction: column;
        }
    }

    #ourtran {
        .tran {
            .cards {
                .card {
                    width: 88%;
                }
            }
        }
    }

    #tables {
        .table {
            .cards {
                .card {
                    width: 77%;
                }
            }
        }
    }

    #footer {
        .foot {
            .cards {
                .card {
                    width: 77%;
                }
            }
        }
    }
}

@media screen and (min-width:576px) and (max-width:778px) {
    #header {
        .head {
            .nav {
                display: none;
            }

            .menu {
                display: flex;
            }
        }
    }

    #yourdog {
        .dog {
            flex-direction: column;
        }
    }

    #petdoger {
        .doger {
            .cards {
                .card {
                    flex-direction: column;

                    .txt {
                        width: 290px;
                    }

                    .img {
                        img {
                            width: 230px;
                        }
                    }
                }
            }
        }
    }

    #ourtran {
        .tran {
            .cards {
                .card {
                    width: 44%;
                }
            }
        }
    }

    #tables {
        .table {
            .cards {
                .card {
                    width: 44%;
                }
            }
        }
    }

    #footer {
        .foot {
            .cards {
                .card {
                    width: 44%;
                }
            }
        }
    }

}